<div class="index-container">
  <h3>Choose Your Lane</h3>

  <div class="main-container">
    <div class="hero select">
      <h5>Learn Heroes</h5>
      <p>
      113 Heros crucifix lomo fanny pack disrupt hashtag tbh trust fund ramps selvage scenester. Fashion axe scenester tilde listicle tofu slow-carb edison bulb iceland pitchfork intelligentsia banh mi occupy small batch. Cliche selvage subway tile fam stumptown you probably haven't heard of them keytar iPhone single-origin coffee meditation microdosing. Meh YOLO cold-pressed marfa kogi kitsch meggings fam palo santo air plant banh mi dreamcatcher pitchfork. Pop-up dreamcatcher keytar church-key pork belly photo booth, succulents drinking vinegar pour-over bushwick YOLO mixtape banh mi.
      </p>
      <p class="btn"><%= link_to "See The Heroes", heros_path %></p>
      <img src="https://www.9custom.com/media/catalog/product/cache/1/small_image/230x/9df78eab33525d08d6e5fb8d27136e95/p/u/puck.png" class="puck" alt="Greetings!">
    </div>
    <div class="about select">
      <h5>Basics</h5>
      <p>
      Fashion axe scenester tilde listicle tofu slow-carb edison bulb iceland pitchfork intelligentsia banh mi occupy small batch. Cliche selvage subway tile fam stumptown you probably haven't heard of them keytar iPhone single-origin coffee meditation microdosing. Meh YOLO cold-pressed marfa kogi kitsch meggings fam palo santo air plant banh mi dreamcatcher pitchfork. Pop-up dreamcatcher keytar church-key pork belly photo booth, succulents drinking vinegar pour-over bushwick YOLO mixtape banh mi.
      </p>
      <h5>Pro Scene</h5>
      <p>
      Narwhal crucifix lomo fanny pack disrupt hashtag tbh trust fund ramps selvage scenester. Fashion axe scenester tilde listicle tofu slow-carb edison bulb iceland pitchfork intelligentsia banh mi occupy small batch. Cliche selvage subway tile fam stumptown you probably haven't heard of them keytar iPhone single-origin coffee meditation microdosing. Meh YOLO cold-pressed marfa kogi kitsch meggings fam palo santo air plant banh mi dreamcatcher pitchfork. Pop-up dreamcatcher keytar church-key pork belly photo booth, succulents drinking vinegar pour-over bushwick YOLO mixtape banh mi.
      </p>
    </div>
    <div class="composition select">
      <h5>Team Composition</h5>
      <p>
      Narwhal crucifix lomo fanny pack disrupt hashtag tbh trust fund ramps selvage scenester.
      </p>
      <% @teams.each do |t| %>
        <p class="team-link"><%= link_to "#{t.name}", team_path(t.id) %></p>
        <!-- run through heroes on team and have small img of each under the team. -->
      <% end %>
    </div>
  </div>

</div>
