<h3>All Heroes</h3>

<div class="hero-pool">

  <% @heros.each do |hero| %>
  <a href="heros/<%= hero.id %>">
    <div class="">
      <img src="<%= hero.image %>">
      <p><%= hero.name %></p>
    </div>
  </a>
  <% end %>

</div>
